* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backround: linear-gradient(to bottom, lightblue, darkblue);
}
.container {
    width: 1000px;
    height: 600px;
}
#canvas1 {
    width: 1000px;
    height: 600px;
    border: 10px solid black;
    background: linear-gradient(to bottom, lightblue, darkblue);
}


.button {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  stroke: 20px;
  color: #fff;
  background-color: lightblue;
  box-shadow: 0 9px #999;
  font = Georgia;
}


.button:active {
  background-color: #darkblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


