* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backround: linear-gradient(to bottom, lightblue, darkblue);
}
.container {
    width: 1000px;
    height: 600px;
}
#canvas1 {
    width: 1000px;
    height: 600px;
    border: 10px solid black;
    background: linear-gradient(to bottom, lightblue, darkblue);
}

